<html id="ng-app" ng-app="superheroSelector">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
    <title>Stuart's Stag</title>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-ui-bootstrap.min.js"></script>
    <script src="/js/app.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!--[if lte IE 7]>
        <script src="/js/json2.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/css/cardiff-capers.css"/>
</head>
<body ng-controller="secretIdentitiesController">
    <div class="container">
        <h1>Stuart's Stag Weekend</h1>
        <div class="row" ng-show="secretIdentity != null">
            <div class="col-sm-offset-2 col-sm-8">
                <div class="character-card">
                    <div class="row">
                        <div class="col-sm-4">
                            <img ng-src="//'/images/' + secretIdentity.image_url//" class="img-responsive" />
                        </div>
                        <div class="col-sm-8">
                            <h2>Welcome //secretIdentity.name//</h2>
                            <div ng-show="secretIdentity.character_name != 'unknown'">
                                <h2>(AKA: //secretIdentity.character_name//)</h2>
                                <p ng-show="secretIdentity.catchphrase != ''">"//secretIdentity.catchphrase//"</p>
                                <div>
                                    <button class="btn btn-danger" ng-click="change()">I've changed my mind</button>
                                </div>
                            </div>
                            <div ng-show="secretIdentity.character_name == 'unknown'">
                                <p>You need to make a choice:</p>
                                <blockquote>Either die a <a href="/hero">hero</a> or live long enough to see yourself become the
                                    <a href="/villain">villain</a>.</blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" ng-class="{'unselected': p.character_name == 'unknown'}" ng-repeat="p in participants">
                <div class="character-card">
                    <div>
                        <p>//p.name// <span ng-show="p.character_name != 'unknown'">(AKA: //p.character_name//)</span></p>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <img ng-src="//'/images/' + p.image_url//" class="img-responsive" />
                        </div>
                        <div class="col-sm-8">
                            <p ng-show="p.catchphrase != ''">"//p.catchphrase//"</p>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>