<!doctype html>
<html id="ng-app" ng-app="superheroSelector">
<head>
    <meta charset="utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
    <title>Stuart's Stag</title>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-ui-bootstrap.min.js"></script>
    <script src="/js/app.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!--[if lte IE 7]>
        <script src="/js/json2.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        body {
            color: #ddd;
            background: url(../images/comic-bg.png);
            font-family: 'Bangers', cursive;
            font-size: 7em;
            text-align: center;
        }
    </style>
</head>
<body ng-controller="selectTypeCtrl">
    <div class="container">
        <p>You have to make a choice:</p>
        <p>
            Either die a
            <a href="/hero">hero</a>
            or live long enough to see yourself become the
            <a href="/villain">villain</a>.
        </p>
    </div>
</body>
</html>