<html id="ng-app" ng-app="superheroSelector">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
    <title>Stuart's Stag</title>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-ui-bootstrap.min.js"></script>
    <script src="/js/app.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!--[if lte IE 7]>
        <script src="/js/json2.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/css/cardiff-capers.css"/>
</head>
<body ng-controller="selectCharacterCtrl">
    <div class="container" ng-init="characterType='{{characterType}}'">
        <h1>Choose your //characterType//</h1>
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="c in characters">
                <span class="hero-taken" ng-show="c.taken">Taken</span>
                <span class="hero-ineligible" ng-show="!c.taken && !c.eligible">Unavailable</span>
                <div class="hero-select" ng-class="{'hero-selectable': !c.taken && c.eligible}" ng-click="preview(c)">
                    <img ng-src="//'/images/' + c.image//" class="img-responsive" ng-class="{'hero-ineligible': !c.eligible || c.taken, 'hero-taken': c.taken}">
                </div>
            </div>
        </div>
    </div>
</body>
</html>