body {
    background: #ccc;
    background: url(../images/comic-bg.jpg);
    font-family: 'Bangers', sans-serif;
    font-size: 17px;
    margin-bottom: 1em;
}

h1 {
    color: #eee;
    text-align: center;
    font-size: 3em;
}

h2 {
    text-align: center;
    font-size: 2em;
    color: #eee;
}

blockquote {
    font-size: 2em;
}

.hero-select {
    background: #fff;
    margin: 0.2em;
    padding: 0.5em;
}

.hero-select img {
    margin: auto;
}

img.hero-ineligible {
    -webkit-filter: grayscale(1);
    opacity: 0.3;
}

span.hero-ineligible, span.hero-taken {
    font-size: 1em;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.2em 1em;
    content: 'unavailable';
    text-align: center;
    background-color: #f00;
    color: #fff;
    transition: opacity 0.1s linear;
    -webkit-box-shadow: -10px 10px 30px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: -10px 10px 30px 0px rgba(50, 50, 50, 0.75);
    box-shadow: -10px 10px 30px 0px rgba(50, 50, 50, 0.75);
    z-index: 999;
}

.character-card {
    background: #fff;
    margin: 1em 1em 0 1em;
    padding: 1em;
    border-radius: 0.5em;
}

.unselected {
    opacity: 0.5;
}

.modal-body {
    font-family: 'Roboto', sans-serif;
}

.hero-selectable {
    cursor: pointer;
}

@media (min-width: 768px) {
    .hero-select.hero-ineligible{
        font-size: 1.5em;
    }
}

@media (min-width: 992px) {
    .hero-select {
        margin: 2em;
        -webkit-box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0.75);
        box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0.75);
    }

    .hero-select.hero-selectable:hover {
        transition: all 0.1s ease-in;
        margin: 1em;
        -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 1);
        -moz-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 1);
        box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 1);
    }

    span.hero-ineligible, span.hero-taken {
        font-size: 1.5em;
    }
}

@media (min-width: 1200px) {
    span.hero-ineligible, span.hero-taken {
        font-size: 2em;
    }
}
