<form action="/remove-identity" method="post">
    <div class="modal-header">
        <h3 class="modal-title">Confirm</h3>
    </div>
    <div class="modal-body">
        <p>
            Are you sure you no longer want to be //characterName//? This will take you back to the selection process.
        </p>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="confirm()">Yes</button>
        <a class="btn btn-warning" ng-click="cancel()">No</a>
    </div>
</form>